server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

metrics_generator:
  processor:
    local_blocks:
      filter_server_spans: false
      flush_to_storage: true
    span_metrics:
      dimensions:
        - client
        - result
        - non_custody_indices
        - imported_blocks
        - missing_column_indexes
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true
  traces_storage:
    path: /var/tempo/generator/traces
  registry:
    external_labels:
      source: tempo

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/traces

stream_over_http_enabled: true

overrides:
  per_tenant_override_config: /etc/overrides.yaml
