name: Source build client

defaults:
  run:
    shell: bash

on:
  schedule:
    - cron: "42 7 * * 2"  # Weekly Tuesday at 7:42 AM UTC
  workflow_dispatch:

jobs:
  build-besu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        client:
          - env: |-
              COMPOSE_FILE=deposit-cli.yml
              DEPCLI_DOCKERFILE=Dockerfile.source
            test_cl: false
            test_el: false
            test_vc: false
          - env: |-
              COMPOSE_FILE=prysm.yml:geth.yml:mev-boost.yml
              MEV_DOCKERFILE=Dockerfile.source
              CL_NODE=consensus:4000
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=teku.yml:besu.yml
              BESU_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=lodestar.yml:erigon.yml
              ERIGON_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=caplin.yml:erigon.yml:lighthouse-vc-only.yml
              ERIGON_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=lighthouse.yml:ethrex.yml
              ETHREX_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=nimbus.yml:nethermind.yml
              NM_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=nimbus.yml:nimbus-el.yml
              NIMEL_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=prysm.yml:geth.yml
              GETH_DOCKERFILE=Dockerfile.source
              CL_NODE=consensus:4000
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=lighthouse.yml:reth.yml
              RETH_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=grandine-allin1.yml:reth.yml
              GRANDINE_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: false
          - env: |-
              COMPOSE_FILE=grandine-cl-only.yml:lighthouse-vc-only.yml:reth.yml
              GRANDINE_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=lighthouse.yml:reth.yml
              LH_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=lighthouse-cl-only.yml:lighthouse-vc-only.yml:reth.yml
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=lodestar.yml:erigon.yml
              LS_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=lodestar-cl-only.yml:lodestar-vc-only.yml:erigon.yml
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=nimbus.yml:nethermind.yml
              NIM_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=nimbus-cl-only.yml:nimbus-vc-only.yml:nethermind.yml
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=nimbus.yml:nethermind.yml
              NIM_DOCKERFILE=Dockerfile.sourcegnosis
              NETWORK=gnosis
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=nimbus-cl-only.yml:nimbus-vc-only.yml:nethermind.yml
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=prysm.yml:geth.yml
              PRYSM_DOCKERFILE=Dockerfile.source
              CL_NODE=consensus:4000
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=prysm-cl-only.yml:prysm-vc-only.yml:geth.yml
            test_cl: true
            test_el: true
            test_vc: true
          - env: |-
              COMPOSE_FILE=teku.yml:besu.yml
              TEKU_DOCKERFILE=Dockerfile.source
              FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
            vc-env: |-
              COMPOSE_FILE=teku-cl-only.yml:teku-vc-only.yml:besu.yml
            test_cl: true
            test_el: true
            test_vc: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Create .env file
        run: cp default.env .env
      - name: Set env variables
        run: |
          source ./.github/helper.sh
          while IFS= read -r varpair; do
            IFS='=' read var val <<< "$varpair"
            export "$var=$val"
            var=$var
            set_value_in_env
          done <<< "${{ matrix.client.env }}"
      - name: Build client
        run: ./ethd update --non-interactive
      - name: Test the stack
        uses: ./.github/actions/test_client_stack
        with:
          test_cl: ${{ matrix.client.test_cl }}
          test_el: ${{ matrix.client.test_el }}
          test_vc: ${{ matrix.client.test_vc }}
      - name: Set env variables
        if: ${{ matrix.combo.vc-env && matrix.combo.vc-env != '' }}
        run: |
          source ./.github/helper.sh
          while IFS= read -r varpair; do
            IFS='=' read var val <<< "$varpair"
            export "$var=$val"
            var=$var
            set_value_in_env
          done <<< "${{ matrix.client.vc-env }}"
      - name: Test the stack
        if: ${{ matrix.combo.vc-env && matrix.combo.vc-env != '' }}
        uses: ./.github/actions/test_client_stack
        with:
          test_cl: ${{ matrix.client.test_cl }}
          test_el: ${{ matrix.client.test_el }}
          test_vc: ${{ matrix.client.test_vc }}
