name: Test Teku and Besu

defaults:
  run:
    shell: bash

on:
  push:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
    branches: [main]

jobs:
  test-client-combo:
    if: |
      contains(github.event.pull_request.labels.*.name, 'test-teku') ||
      contains(github.event.pull_request.labels.*.name, 'test-besu') ||
      contains(github.event.pull_request.labels.*.name, 'test-all') ||
      github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Create .env file
        run: cp default.env .env
      - name: Set Teku/Besu
        run: |
          source ./.github/helper.sh
          COMPOSE_FILE=teku.yml:besu.yml:mev-boost.yml
          var=COMPOSE_FILE
          set_value_in_env
          FEE_RECIPIENT=0xDccf8451070a86183eE70D330C4c43b686E9CF86
          var=FEE_RECIPIENT
          set_value_in_env
      - name: Test the stack
        uses: ./.github/actions/test_client_stack
      - name: Set Teku/Besu w/ VC
        run: |
          source ./.github/helper.sh
          COMPOSE_FILE=teku-cl-only.yml:teku-vc-only.yml:besu.yml:mev-boost.yml
          var=COMPOSE_FILE
          set_value_in_env
      - name: Test the stack
        uses: ./.github/actions/test_client_stack
      - name: Upload .env file
        uses: actions/upload-artifact@v5
        with:
          name: env-file
          path: .env
          include-hidden-files: true
          overwrite: true

  test-env-variations:
    uses: ./.github/workflows/test-env-variations.yml
    needs: test-client-combo
    if: ${{ needs.test-client-combo.result == 'success' }}
