on:
  workflow_call:
    inputs:
      test_cl:
        type: string
        default: "true"
      test_vc:
        type: string
        default: "true"
      test_el:
        type: string
        default: "true"

jobs:
  test-env-variations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env-var:
          - "MEV_BOOST=true MEV_BUILD_FACTOR="
          - "MEV_BOOST=true MEV_BUILD_FACTOR=90"
          - "MEV_BOOST=true MEV_BUILD_FACTOR=100"
          - "MEV_BOOST=true MEV_BUILD_FACTOR=0"
          - "CL_MAX_PEER_COUNT=100 CL_MIN_PEER_COUNT=20 EL_MAX_PEER_COUNT=10"
          - IPV6=true
          - IPV6=false
          - EL_MINIMAL_NODE=false
          - CHECKPOINT_SYNC_URL=
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Fetch .env file
        uses: actions/download-artifact@v6
        with:
          name: env-file
          path: .
      - name: Set env variables
        run: |
          source ./.github/helper.sh
          # Split key=value pairs if needed
          for varpair in ${{ matrix.env-var }}; do
            IFS="=" read var val <<< "$varpair"
            export "$var=$val"
            var=$var
            set_value_in_env
          done
      - name: Test the stack
        uses: ./.github/actions/test_client_stack
        with:
          test_cl: ${{ inputs.test_cl }}
          test_vc: ${{ inputs.test_vc }}
          test_el: ${{ inputs.test_el }}
