name: Test ethd

defaults:
  run:
    shell: bash

on:
  push:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]
    branches: [main]

jobs:
  test-ethd:
    if: |
      contains(github.event.pull_request.labels.*.name, 'test-ethd') ||
      contains(github.event.pull_request.labels.*.name, 'test-all') ||
      github.event_name == 'push'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Docker buildx
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        uses: docker/setup-buildx-action@v3
      - name: Set up Docker on macOS
        if: ${{ startsWith(matrix.os, 'macos-') }}
        uses: douglascamata/setup-docker-macos-action@de9dc31504356970f7ab9b785d6afee99b994692
        with:
          lima: v1.2.2
      - name: Install Expect
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: sudo apt-get install -y expect whiptail
      - name: Prerequisites on macOS
        if: ${{ startsWith(matrix.os, 'macos-') }}
        run: brew install bash newt coreutils expect docker-buildx
      - name: Use default.env
        run: cp default.env .env
      - name: Test ethd update
        run: ./ethd update --debug --non-interactive
      - name: Test ethd config defaults
        run: expect ./.github/test-ethd-config.exp all-defaults
        env:
          TERM: xterm
      - name: Test ethd config no checkpoint
        run: expect ./.github/test-ethd-config.exp no-checkpoint
        env:
          TERM: xterm
      - name: Test ethd config no mev
        run: expect ./.github/test-ethd-config.exp no-mev
        env:
          TERM: xterm
      - name: Test ethd config no grafana
        run: expect ./.github/test-ethd-config.exp no-grafana
        env:
          TERM: xterm
